/*----------------------------------------------------------
Text
----------------------------------------------------------*/

input[type="text"] {
	border: none;
	background-color: transparent;
	color: #5D5D5D;
	transition: all 0.2 ease-out;
	&:focus {
		color: white;
	}
}

/*----------------------------------------------------------
Regular Text
----------------------------------------------------------*/

.input__text {
	padding: 2px;
	@include font-size(20px);
	font-weight: regular;
}

/*----------------------------------------------------------
Large Text
----------------------------------------------------------*/

.input__largeText {
	padding: 4px;
	@include font-size(40px);
	font-weight: bold;
}


/*----------------------------------------------------------
Large Text
----------------------------------------------------------*/

.input__select {
	
}
