/*-----------------------------------------------------
	Parent
-----------------------------------------------------*/

body {
	
}

#app {
	overflow: hidden;
	margin: calc((100vh - 667px)/2) auto;
	width: 375px;
	height: 667px;
	background-color: $colour-dark;
	position: relative;
}