/*-----------------------------------------------------
	Parent
-----------------------------------------------------*/

body {
	background-color: $colour-lightGrey;
}

#app {
	overflow: hidden;
	max-width: 100%;
}