/*-----------------------------------------------------
	Parent
-----------------------------------------------------*/

body {
	// background-color: $colour-dark;
}

#app {
	overflow: hidden;
	margin: 0 auto;
	max-width: 375px;
	height: 667px;
	background-color: $colour-dark;
	position: relative;
	width: 100%;
}