.nav {
	background: #2C2B2F;
	height: 57px;
}

.nav .nav__nav-list {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;
	list-style: none;
}

.nav .nav__nav-list__item {

	text-transform: uppercase;
	text-align: center;
	width: 50%;
	background-color: #242327;

	&--active {
		background-color: #2C2B2F;
		box-shadow: inset 0px -2px 0px 0px #0689FF;
		a {
			opacity: 1 !important;
		}
	}

	a {
		display: inline-block;
		margin-top: 18px; 
		color: white;
		opacity: 0.3;
		@include font-size(12px);
		text-decoration: none;
	}

}